.wrapper {
    --search-height: 46px;
    --top-spacer: 9px;
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search,
.search-result {
    width: 361px;
}

.search {
    height: var(--search-height);
    padding-left: 16px;
    display: flex;
    position: relative;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    border: 1.5px solid transparent;
    input {
        color: rgba(22, 24, 35, 1);
        font-size: 1.6rem;
        font-weight: 400;
        height: 100%;
        flex: 1;
        background-color: transparent;
        caret-color: rgba(254, 44, 85, 1);
    }
    input:not(:placeholder-shown)~.search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    &::after {
        content: '';
        height: calc(var(--search-height) - var(--top-spacer) * 2);
        width: 1px;
        top: var(--top-spacer);
        right: 52px;
        padding: 9px 0;
        position: absolute;
        background-color: rgba(22, 24, 35, 0.12);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.loading,
.clear {
    color: rgba(22, 24, 35, 0.34);
    position: absolute;
    right: 68px;
    top: 50%;
    transform: translateY(-50%);
}

.search-btn {
    width: 52px;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    font-size: 1.9rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        cursor: pointer;
        background: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 0 4px;
    background: transparent;
}